# CONFIG_NSH_DISABLE_IFCONFIG is not set
# CONFIG_NSH_DISABLE_PS is not set
CONFIG_ARCH_BOARD_RX66T=y
CONFIG_ARCH_BOARD="rx66t"
CONFIG_ARCH_CHIP_R5F566TKCDFP=y
CONFIG_ARCH_RENESAS=y
CONFIG_ARCH_STACKDUMP=y
CONFIG_ARCH="renesas"
CONFIG_BOARD_LOOPSPERMSEC=15001
#CONFIG_DISABLE_MOUNTPOINT=y
#CONFIG_DISABLE_MQUEUE=y
#CONFIG_DISABLE_POLL=y
#CONFIG_DISABLE_POSIX_TIMERS=y
#CONFIG_DISABLE_PTHREAD=y
#CONFIG_DISABLE_SIGNALS=y
CONFIG_MOTOROLA_SREC=y
CONFIG_ENDIAN_LITTLE=y
CONFIG_SYSTEM_NSH=y
CONFIG_MAX_TASKS=8
CONFIG_DEBUG_FEATURES=y
#CONFIG_DEBUG_SYMBOLS=y
CONFIG_ARCH_INTERRUPTSTACK=1024
CONFIG_BUILTIN=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NFILE_DESCRIPTORS=8
CONFIG_NFILE_STREAMS=8
#CONFIG_NSH_CONSOLE_LOGIN=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_LINELEN=64
CONFIG_NSH_READLINE=y
CONFIG_NUNGET_CHARS=0
CONFIG_PREALLOC_TIMERS=0
CONFIG_PTHREAD_STACK_DEFAULT=1024
CONFIG_RAM_SIZE=131072
CONFIG_RAM_START=0x00000000
CONFIG_RAW_BINARY=y
CONFIG_RX66T_SCI8=y
CONFIG_RX66T_SCI9=y
CONFIG_RX66T_SCI11=y
#CONFIG_SCI8_SERIAL_CONSOLE=n
CONFIG_SCI8_SERIALDRIVER=y
CONFIG_SCI8_BAUD=1000000
#CONFIG_SCI8_TXBUFSIZE=256
#CONFIG_SCI8_RXBUFSIZE=256
#CONFIG_SCI8_PARITY=0
#CONFIG_SCI8_BITS=8
#CONFIG_SCI8_2STOP=0
#CONFIG_SCI9_SERIAL_CONSOLE=n
CONFIG_SCI9_SERIALDRIVER=y
CONFIG_SCI9_BAUD=1000000
#CONFIG_SCI9_TXBUFSIZE=256
#CONFIG_SCI9_RXBUFSIZE=256
#CONFIG_SCI9_PARITY=0
#CONFIG_SCI9_BITS=8
#CONFIG_SCI9_2STOP=0
CONFIG_SCI11_SERIAL_CONSOLE=y
CONFIG_SCI11_SERIALDRIVER=y
CONFIG_SCI11_BAUD=1000000
#CONFIG_SCI11_TXBUFSIZE=256
#CONFIG_SCI11_RXBUFSIZE=256
#CONFIG_SCI11_PARITY=0
#CONFIG_SCI11_BITS=8
#CONFIG_SCI11_2STOP=0
CONFIG_SDCLONE_DISABLE=y
CONFIG_ICU=y
CONFIG_STDIO_DISABLE_BUFFERING=y
CONFIG_TASK_NAME_SIZE=0
CONFIG_USER_ENTRYPOINT="nsh_main"
CONFIG_USERMAIN_STACKSIZE=1024
CONFIG_IDLETHREAD_STACKSIZE=1024
#CONFIG_LIBC_FLOATINGPOINT=y
